/* Layout Principal */
.contenedor-principal {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Cabecera idéntica a la anterior */
.cabecera {
  background-color: var(--rojo-pokedex);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--blanco-texto);
  text-transform: uppercase;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px; 
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  z-index: 10; /* Para que esté siempre arriba del layout */
}

/* CSS GRID: La magia del panel dividido */ 
.paneles-divididos {
  flex: 1; /* Ocupa todo el alto que sobra después de la cabecera */
  display: grid;
  /* Creamos 2 columnas: 
     - La de la izquierda (2fr) es el doble de ancha que la de la derecha (1fr) */
  grid-template-columns: 2fr 1fr;
  overflow: hidden; /* Evitamos scroll general */
}

/* Panel Izquierdo (Panel Principal) */
.panel-izquierdo {
  position: relative; /* Para que el panel que abre (absolute) sepa dónde posicionarse */
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Panel Derecho (La Lista Lateral) */
.panel-derecho {
  background-color: #e0e0e0;
  /* CRÍTICO: Aquí es donde configuramos el scroll solo para la lista lateral */
  overflow-y: scroll; 
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Separación entre tarjetas */
  min-height: 0;
}
.buscador {
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  font-size: 0.9rem;
  outline: none;
  width: 200px;
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.2);
}
